html .error_page {
  overflow: hidden;

}

.error_page #wrap {
  position: relative;
}

.error_page p {
  width: 460px;
  margin: 0 auto;
}
.error_page p a {
  padding: 2px 4px;
  background: #FFF;
  color: #B60;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.error_page p a:hover {
	background: #000;
	color: #FFF;
	text-decoration: none;
}

.error_page h2 {
  color: #000;
  height: 320px;
  width: 260px;
  text-indent: -9999em;
  margin: 0 auto;
  background: url(smash_sprites02.png) no-repeat;
}
.error_page h2#smash_page {
  background-position: -520px bottom;
}
.error_page h2#smash_server {
  background-position: -780px bottom;
}

.error_page h2 a {
  background: url(smash_sprites02.png) no-repeat;
  display: block;
  height: 100%;
}
.error_page h2 a:hover {
	background-position: -260px top;
}


#smash {
  width: 100%;
  height: 420px;
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  bottom: -135px;
  left: 0;
}

#smash img {
  display: block;
}

.skull {
  width: 560px;
  margin: 0 auto;
  background: #F00;
  position: relative;

}

.face, .eyes, .hilites, .pupils  {
  position: absolute;
}

.face {
  top: 0;
  left: 0;
}


.eyes {
  background: #FFF;
  top: 170px;
  left: 200px;
  width: 237px;
  height: 117px;
  overflow: hidden;
}

.hilites {
  top: 10px;
  left: 17px;
}


.pupils {
  top: 5px;
  left: 17px;
}

.skull a {
	position: absolute;
	z-index: 100;
	display: block;
	height: 420px;
	width: 540px;
	top: 0;
	left: 0;
}