<% content_for :title, "About GDZLLA" %>
<% content_for :bodyclass, "one-col"%>
<p>GDZLLA was built in 2009 over the course of a week after Tweetie 2
   was released on the iPhone. With version 2,
   custom services implementing the twitpic API could now
   upload photos wherever they pleased. A group of nice folks at <a href="http://nclud.com">nclud</a> wanted
   their photos on <a href="//flickr.com">flickr</a>, which was at the time—and still totally is—the
   best place to share photos in the Internet.
</p><br/>
<p>So, <a href="//twitter.com/smarty">@smarty</a>,
       <a href="//twitter.com/desandro">@desandro</a>,
       <a href="//twitter.com/giron">@giron</a>,
       <a href="//twitter.com/laurenmoon">@laurenmoon</a> and
       <a href="//twitter.com/drinks">@drinks</a>
   hacked for a few days and GDZLLA was born.
</p><br/>
<p>Since 2010, I (<a href="//twitter.com/drinks">@drinks</a>) am the sole
   maintainer in my free time, but am totally happy to add stuff if
   there's a compelling use case; just drop me a line and let me know.
   Pull requests are also welcome at <a href="//github.com/drinks/gdzlla-rails-3">Github</a>.
</p>
