<% content_for :title, "Set up your device" %>
<% content_for :bodyclass, "one-col"%>

<div id="three">
    <p>Just add this url to your App's settings as an "Image Service API Endpoint" and you're all set!</p>
    <h2>https://gdzl.la/go.json</h2>
    <p>At this time, Tweetbot is the only client we're aware of that supports custom image services.
       if yours doesn't work, drop us a line at <a href="//twitter.com/gdzl_la">@gdzl_la</a> and let us know what client and platform you're on,
       we'll be glad to add it!
    </p>
</div>
