<% content_for :title, "Upload to flickr from Tweetie 2" -%>
<% content_for :bodyclass, "home" -%>
<div class="content">
  <h2 class="summary">Finally, a way to share your <a class="flickr" href="http://flickr.com" target="_blank">flickr</a> photos with <a class="twitter" a href="http://atebits.com/tweetie-iphone/" target="_blank">twitter</a></h2>
    <p>Skip the image services like twitpic or yfrog. Keep your photos right where they belong, on flickr.</p>
    <p class="big-button"><a href="<%= new_session_path %>">Get Started</a></p>
</div>
<div class="aside">
  <img src="/assets/phone.png" alt="iPhone and Photos" />
</div>
